<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/notes/add" method="post">
        <textarea type="name" name="paragraph" placeholder="Write a new note" rows="5" cols="50" ></textarea>
        <input type="submit" value="addNote" placeholder="Add">
    </form>
</body>
</html>